[Unit]
Description=Mushroom spore bloom on pressure
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/mushroom_mqtt
ExecStart=/opt/spore_bloom.py
KillMode=process
Restart=on-failure

[Install]
WantedBy=mushroom-mqtt.target
